<div *ngIf="!isAuthenticated">
  <form>
    <h2>
      Área do Supervisor
    </h2>
    <div class="form-group">
      <label for="exampleInputEmail">Email</label>
      <input type="email" class="form-control" id="exampleInputEmail" placeholder="Email" name="email">
    </div>
    <div class="form-group">
      <label for="exampleInputName">Senha</label>
      <input type="password" class="form-control" id="exampleInputSenha" aria-describedby="senhaHelp" placeholder="Senha" name="senha">
    </div>
    <button type="submit" class="btn btn-primary" (click)="authenticate()">Entrar</button>
  </form>
</div>
<div *ngIf="isAuthenticated && !mostrarProdutos && !mostrarEstoque && !mostrarHistorico">
  <h2>
    Área do Supervisor
  </h2>
  <form>
    <br>
    <button class="btnOpcoes btnProdutos btn btn-primary" (click)="mostrarTelaProdutos()">Produtos</button> 
    <br> <br>
    <button class="btnOpcoes btnEstoque btn btn-primary" (click)="mostrarTelaEstoque()">Estoque</button> 
    <br> <br>
    <button class="btnOpcoes btnHistorico btn btn-primary" (click)="mostrarTelaHistorico()">Histórico de vendas</button>
  </form>
</div>

<div *ngIf="mostrarProdutos">
  <button class="btn btn-primary" (click)="mostrarProdutos = false">Voltar</button> <br>
  <app-produto></app-produto>
</div>

<div *ngIf="mostrarEstoque">
  <button class="btn btn-primary" (click)="mostrarEstoque = false">Voltar</button> <br>
  <app-estoque></app-estoque>  
</div>

<div *ngIf="mostrarHistorico">  
  <button class="btn btn-primary" (click)="mostrarHistorico = false">Voltar</button> <br>
  Lista de Historico de Vendas
</div>