<h2>
    Realizar compra
</h2>
<form *ngIf="!compraFeita">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Produto</th>
        <th scope="col">Valor</th>
        <th scope="col">Quantidade</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let produto of produtos">
        <th scope="row">{{produto.nome}}</th>
        <th scope="row">{{produto.preco}}</th>
        <th scope="row">
          <input type="number" min="0" max="{{produto.quantidade}}" value="0" class="form-control" id="quantidade" aria-describedby="nameHelp"
          [(ngModel)]="produto.quantidadeAFornecer" name="quantidade">
        </th>
      </tr>
    </tbody>
  </table>
  <button type="submit" class="btn btn-primary" (click)="realizarCompra()">Finalizar Compra</button>
</form>

<div *ngIf="compraFeita">
  <button class="btn btn-primary" (click)="this.compraFeita = false">Voltar</button> <br>
  <div>
    Total: {{this.total}} R$
  </div>
  <button class="btn btn-primary">Copiar código</button> <br>
  <img src="./img/qrcode.png">
</div>