<h2>
    Realizar compra
</h2>
<form>
    <div class="form-group">
      <label for="nome">Produto:</label>
      <input type="text" class="form-control" id="nome" aria-describedby="nameHelp" placeholder="Produto"
        [(ngModel)]="usuario.nome" name="nome">
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown button
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
    <div class="form-group">
      <label for="email">Quantidade</label>
      <input type="email" class="form-control" id="email" placeholder="Quantidade" [(ngModel)]="usuario.email"
        name="email">
    </div>
    <button type="submit" class="btn btn-primary" (click)="save()">Salvar</button>
  </form>