<div *ngIf="!isAuthenticated">
  <button class="btn btn-primary" (click)="mudarLoginRegistro()">{{showList ? 'Registrar-se' : 'Login'}}</button>
</div>
<div *ngIf="showList">
  <div *ngIf="isAuthenticated">      
    <div *ngIf="!mostrarRealizarCompra && !mostrarHistorico && !mostrarEditarDados">
      <button class="btn btn-primary" (click)="voltarLogin()">Voltar</button> <br>

      <h3 *ngIf="isAuthenticated">Bem vindo(a), {{usuarioLogado?.usuario?.nome}}!</h3>

      <button class="btnOpcoes btnRealizarCompra btn btn-primary" (click)="mostrarTelaRealizarCompra()">Realizar Compra</button>
      <button class="btnOpcoes btnHistorico btn btn-primary" (click)="mostrarTelaHistorico()">Consultar Histórico</button>
      <button class="btnOpcoes btnEditarDados btn btn-primary" (click)="mostrarTelaEditarDados()">Editar Dados</button>
    </div>

    <div *ngIf="mostrarRealizarCompra">
      <button class="btn btn-primary" (click)="voltar()">Voltar</button> <br>
      <app-compra></app-compra>
    </div>
    
    <div *ngIf="mostrarHistorico">
      <button class="btn btn-primary" (click)="voltar()">Voltar</button> <br>
      Historico
    </div>
    
    <div *ngIf="mostrarEditarDados">
      <button class="btn btn-primary" (click)="voltar()">Voltar</button> <br>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Ações</th>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">Telefone</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usuario of usuarios">
            <th scope="row">
              <button class="btn-primary" (click)="openDetails(usuario)">Editar</button>
              <button class="btn-danger" (click)="delete(usuario)">Excluir</button>
            </th>
            <th scope="row">{{usuario.id}}</th>
            <th scope="row">{{usuario.nome}}</th>
            <th scope="row">{{usuario.email}}</th>
            <th scope="row">{{usuario.telefone}}</th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div *ngIf="!showList">
  <form>
    <div class="form-group">
      <label for="nome">Nome</label>
      <input type="text" class="form-control" id="nome" aria-describedby="nameHelp" placeholder="Nome"
        [(ngModel)]="usuario.nome" name="nome">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control emailFormControl" id="email" placeholder="Email" [(ngModel)]="usuario.email" name="email">
    </div>
    <div class="form-group">
      <label for="login">Login</label>
      <input type="text" class="form-control" id="login" placeholder="Login" [(ngModel)]="usuario.login" name="login">
    </div>
    <div class="form-group">
      <label for="senha">Senha</label>
      <input type="password" class="form-control" id="senha" placeholder="Senha" [(ngModel)]="usuario.senha"
        name="senha">
    </div>
    <div class="form-group">
      <label for="telefone">Telefone</label>
      <input type="text" class="form-control" id="telefone" placeholder="Telefone" [(ngModel)]="usuario.telefone"
        name="telefone">
    </div>
    <button type="submit" class="btn btn-primary" (click)="save()">Salvar</button>
  </form>
</div>

<div *ngIf="!isAuthenticated && showList">
  <form>
    <div class="form-group">
      <label for="exampleInputEmail">Email</label>
      <input type="email" class="form-control" id="exampleInputEmail" placeholder="Email"
        [(ngModel)]="usuarioLogin.email" name="email">
    </div>
    <div class="form-group">
      <label for="exampleInputName">Senha</label>
      <input type="password" class="form-control" id="exampleInputSenha" aria-describedby="senhaHelp" placeholder="Senha"
        [(ngModel)]="usuarioLogin.senha" name="senha">
    </div>
    <button type="submit" class="btn btn-primary" (click)="authenticate()">Logar</button>
  </form>
</div>